/*头部*/
#header{
    width: 100%;
}
#header-t{
    width: 100%;
    height: 33px;
    background:#F6F6F6;
}
.header-t{
    width: 1190px;
    height: 33px;

}
/*头部-上-左*/
.header-t-l{
    width: 381px;
    height: 33px;
    margin-left: 11px;
}
.header-t-l dl dt{
    width: 95px;
}
.header-t-l dl dt a{
    color:black;
}
.header-t .header-t-l span,a{
    font-size: 10px;
    line-height: 33px;
}
.header-t .header-t-l .l-welcome{
    margin:0 15px 0 9px;
}
.header-t .header-t-l .l-normal{
    margin-left:3px;
    margin-right: 3px;
}
.header-t .header-t-l .l-area{
    height: 33px;
    width: 82px;
    float:right;
}
/*头部-右*/
.header-t-r{
    float:right;
    height: 33px;
    width: 376px;
}
/*头部-微信关注*/
.header-t-r .r-weixin{
    position:relative;
}
.header-t-r dt{
    text-align: center;
    font-size: 12px;
    line-height: 33px;
    width: 70px;
    height: 33px;
}
.header-t-r .r-weixin-pic{
    position:absolute;
    left:-178px;
    width: 248px;
    height:auto;
    background:#fff;
    display:none;
    z-index:190000;
}
.header-t-r .r-weixin-pic .r-weixin-txt1{
    font-size: 10px;
    text-align: center;
    line-height: 34px;
}
.header-t-r .r-weixin-pic img{
    margin-left:13px;
}
.header-t-r .r-weixin-pic .r-weixin-txt2{
    font-size: 12px;
    text-align: center;
}
.header-t-r .r-weixin dl:hover .r-weixin-pic{
    display:block;
}
.header-t-r .r-weixin dl:hover {
    background:#fff;
}
/*头部-TV版*/
.header-t-r .r-tv{
    height: 33px;
    width: 61px;
    text-align: center;
}
.header-t-r .r-tv a{
    padding-left:4px;
    color:black;
}
/*头部-移动版*/
.header-t-r .r-phone{
    width: 70px;
    height: 33px;
    text-align: center;
}
.header-t-r .r-phone a{
    padding-left:4px;
    color:black;
}
/*头部-顾客中心*/
.header-t-r .r-guest-center{
    width: 83px;
    height: 33px;
    text-align: center;
}
.header-t-r .r-guest-center a{
    padding-left:4px;
    color:black;
}
/*我的购物*/
.header-t-r .r-myocj dt{
    width: 90px;
    height: 33px;
}
.header-t-r .r-myocj dt a{
    color:black;
}
.header-t-r .r-myocj dd{
    width: 90px;
    background:#fff;
    position:absolute;
    z-index:100;
    background:#fff;
}
.header-t-r .r-myocj dd li{
    text-align: center;
}
.header-t-r .r-myocj dd a{
    color:black;
}
.header-t-r .r-myocj dd ul{
    display:none;
}
.header-t-r .r-myocj dl:hover ul{
    display:block;
}
.header-t-r .r-myocj dl:hover dt{
    background:#fff;
}
/*头部-右侧功能栏*/
#header .olympicSidebarWrap{
    height: 353px;
    width: 84px;
    float:right;
    position:fixed;
    right:0px;
    bottom:50px;
    z-index: 100;
}
#header .g-side-bar-t{
    width: 84px;
    height: 130px;
}
#header .rightFixNavButtonLink{
    text-align: center;
    height: 26px;
    background-color: rgb(255, 255, 255);
}
#header .rightFixNavButtonLink a{
    color:black;
    font-size: 15px;
    line-height: 26px;
}
#header .rightFixNavButtonLink:hover{
    background:pink;
}
#header .rightFixNavButtonLink:hover a{
    color: #fff;
}
#header .bird{
    text-align: center;;
    position:relative;
    width: 84px;
    height: 78px;
    background:url(../images/bird.png) no-repeat #fff;
    border-top:1px solid #ccc;
    background-position:center 10px;
}
#header .server .bird a{
    position:absolute;
    bottom:0;
    width: 84px;
    left:0;
}
#header .server .g-go-top{
    background:#4b4c50;
    height: 42px;
    text-align: center;
    line-height: 42px;
    color:#fff;
}
#header .header-b{
    width: 1190px;
    height: 92px;
}
.header-b .header-b-logo{
    width: 360px;
    height: 92px;
}
.header-b .header-b-logo .g-main-logo{
    display:block;
    float:right;
    width: 220px;
    height: 92px;
    background:url(../images/1_20180731163409_3.jpg) no-repeat center ;
}
/*头部-下-搜索*/
.header-b .g-search-box{
    height: 92px;
    width: 522px;
    float:left;
    padding-left: 0;
    padding-top: 0;
}
.header-b .g-search-box .search-bar{
    height: 62px;
    width: 522px;
    position:relative;
}
.header-b .g-search-box .search-bar #search_form{
    position:absolute;
    right:0;
    bottom:0;
}
.header-b .g-search-box .search-bar #search_form input{
    width: 450px;
    height: 40px;
    border:3px solid #F12E24;
}
.header-b .g-search-box .search-bar #search_form button{
    width: 77px;
    height: 40px;
    background:#F12E24;
    color:#fff;
    border:3px solid #F12E24;
    position:absolute;
    right:0;
    bottom:0;
}
.header-b .g-search-box .search-down{
    height: 30px;
    width: 522px;
}
.header-b .g-search-box .search-down .g-hotlist{
    display:block;
    margin-top: 0;
    float:right;
    height: 30px;
    width: 82px;
    padding-left: 20px;
    background:url(../images/g-hotlist.png) left no-repeat;
}
.header-b .g-search-box .search-down .g-hotlist a{
    /*padding-left:22px;*/
    line-height: 30px;
    color:black;
}
/*搜索框下边的推荐*/
.header-b .g-search-box .search-down .keywords{
    width: 440px;
    height: 30px;
    padding-left:72px;
}
.header-b .g-search-box .search-down .keywords li{
    float:left;
    height: 30px;
    /*padding: 0 5px 0 5px;*/
    color:black;
}
/*头部-下-购物车*/
.header-b .g-header-mycart{
    width: 139px;
    height: 92px;
    padding-top:10px;
    padding-left: 0;
}
.header-b .g-header-mycart #g-header-mycart-dl{
    position:relative;
}

.header-b .g-header-mycart #g-header-mycart-dl .ld{
    display:block;
    width: 122px;
    height: 42px;
    border:1px solid #EFEFEF;
    background:#F7F7F7;
    position:relative;
}
.header-b .g-header-mycart #g-header-mycart-dl .ld s{
    display:block;
    width: 22px;
    height: 22px;
    float:left;
    margin-top:10px;
    margin-left: 15px;
    background:url(../images/g-header-mycart-dl-car.png) center no-repeat;
}
.header-b .g-header-mycart #g-header-mycart-dl .ld a{
    display:block;
    width: 122px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    color:black;
}
.header-b .g-header-mycart #g-header-mycart-dl .ld a span{
    display:block;
    width: 12px;
    height: 7px;
    float:right;
    margin-top:17px;
    margin-right: 12px;
    background:url(../images/g-header-mycart-dl-1.png) center no-repeat;
}
.header-b .g-header-mycart #g-header-mycart-dl .ld #shopping{
    background:#FE434C;
    display:block;
    width: 20px;
    height: 20px;
    position:absolute;
    top:-25%;
    left:25px;
    border-radius:50%;
    text-align: center;
    color:#fff;
    font-size: 10px;
    line-height: 20px;
}
.header-b .g-header-mycart #g-header-mycart-dl .g-cart-empty{
    position:absolute;
    top:40px;
    right:0;
    width: 255px;
    height: 50px;
    height:auto;
    background:#fff;
    z-index:10;
    font-size: 12px;
    display:none;
}
.header-b .g-header-mycart #g-header-mycart-dl .g-cart-empty p{
    min-width: 255px;
    min-height: 50px;
    text-align: center;
    line-height: 50px;
}
.header-b .g-header-mycart #g-header-mycart-dl:hover .g-cart-empty{
    display:block;
}
.header-b .g-header-mycart #g-header-mycart-dl:hover .ld{
    background:#fff;
}
.header-b .g-header-mycart #g-header-mycart-dl #settleup-url:hover s{
    background:url(../images/g-header-mycart-dl-car2.png) center no-repeat;
}
.header-b .g-header-mycart #g-header-mycart-dl #settleup-url:hover span{
    background:url(../images/g-header-mycart-dl-2.png) center no-repeat;
}
/*购物车右边logo*/
.header-b .headerCompLogoRight{
    height: 92px;
    width: 169px;
    text-align: center;
    line-height: 92px;
    margin-left: 0;
}
/*菜单*/
.g-header-menu{
    height: 34px;
    width: 100%;
    background:#F12E24;
}
.g-header-menu .g-container-1190{
    width: 1190px;
    height: 34px;
}
.g-header-menu .g-container-1190 .g-header-tab{
    padding:0 19px 0 19px;
    display:block;
    height: 34px;
    float:left;
    text-align: center;
    font-size: 13px;
    color:#fff;
}
.g-header-menu .g-container-1190 .g-all{
    width: 221px;
}
.g-header-menu .g-container-1190 a:hover{
    background:#B8362F;
}
/*分类，tv节目表，轮播图*/
#setColorChange{
    height: 590px;
    width: 100%;
}
.setColorChange{
    height: 90px;
    position:relative;
}
/*分类*/
.indexLeftNav{
    width: 221px;
    height: 590px;
    position:absolute;
    left:0px;
    background:#fff;
    z-index: 100;
}
.indexLeftNav .indexLeftNavBox{
    height: 39px;  
    padding-left:17px;

}
.indexLeftNav .indexLeftNavBox span{
    color: rgb(51, 51, 51);
}
.indexLeftNav .indexLeftNavBox a{
    color: rgb(51, 51, 51);
}
.indexLeftNav .indexLeftNavBoxBg{
    position:relative;
    background:#5E5F5F;
    padding-left:0;
    height:40px;
}
.indexLeftNav .indexLeftNavBoxBg .hindexleftNavjiaobiao{
    position:absolute;
    width: 12px;
    height: 13px;
    right:0;
    top:0;
    display:none;
}
.indexLeftNav .indexLeftNavBoxBg .hindexleftNavjiaobiao img{
    position:absolute;
    right:0;
    top:0;
}
.indexLeftNav .indexLeftNavBoxBg .indexLeftNavBoxBgContent{
    height: 40px;
    margin:0 10px 0 10px;
    padding-left:30px;
    border-bottom: 1px dotted #fff;
}
.setColorChange .indexLeftNav .indexLeftNavBoxBg1:hover{
    background:#C71700;
}
.setColorChange .indexLeftNav .indexLeftNavBoxBg0:hover{
    background:orangered;
}
.setColorChange .indexLeftNav .indexLeftNavBoxBg2:hover{
    background:#61117b;
}
.setColorChange .indexLeftNav .indexLeftNavBoxBg3:hover{
    background:#784830;
}

/*tv节目*/
.indexLeftNavShowConent{
    width: 100%;
    height: 90px;
    background:#fff;
}
.g-live-box{
    width: 970px;
    height: 90px;
}
.g-live-box .tv-product { 
    display: none; 
    overflow: hidden;
    padding-top: 4px; 
    background-color: #ffffff;
    border: 1px solid #e2e2e2;
    width:391px; 
    height:81px; 
    margin-top:4px; 
    float:left; 
    display: inline; 
    position: relative; 
    margin-left: -1px;
}
.g-live-box .tv-product a.pic {
    display:block; 
    width:100px; 
    height:70px; 
    float:left; 
    position:relative; 
    margin:0 0 0 4px; 
    overflow:hidden;
}
.g-live-box .tv-product h3 {
    font-weight:normal; 
    color:#31363c; 
    height:18px; 
    line-height:16px; /*padding-left:20px; background:url(../images/common/bg.site.nav.png) -8px -301px no-repeat;*/ 
    float:left;
}
.g-live-box .tv-product h3 span{
    margin-right:8px;
}
.g-live-box .tv-product h3.two {
    background-position:-8px -337px;
}
.g-live-box .tv-product .name a{
    width:260px; 
    font-size: 13px; 
    line-height:10px; 
    height:16px; 
    overflow:hidden; 
    padding:0; 
    margin:2px 0 0 0; 
    white-space: nowrap; 
    text-overflow:clip;
}
.g-live-box .tv-product p.name a {
    color:#31363c;
}
.g-live-box .tv-product p.name a:hover {
    color:#239cdc;
}
.g-live-box .tv-product p.price {
    color:#ea0505; 
    padding-top:2px; 
    float:left; 
    margin:0; 
    text-align: left;
}
.g-live-box .tv-product p.price b {
    font-size:14px;
}
.g-live-box .tv-product .wangshangpayTip{
    /*background-image: url("/common/webpc/image/imageindex/bofangbg.png");*/
    width: auto; 
    height: 19px;
    float: right; 
    display: inline;
    padding: 1px 0 0 0;
    font-size: 14px; 
    color: #f12e24; 
    font-weight: bold;
}
.g-live-box .tv-product .hyouhuiicon{
    float: left; 
    display: inline; 
    text-align: right; 
    margin-left: 10px; 
    margin-top: 3px;}
.g-live-box .tv-product .hyouhuiicon span{
    margin: 0 0 0 1px; 
    padding: 0px 2px 0px 2px; 
    font-size: 12px; 
    color: #ffffff;
    font-family: "Microsoft Yahei", "Arial";}
.g-live-box .tv-product .hyouhuiicon span.htipcx{background-color: #d91404;
}
.g-live-box .tv-product .hyouhuiicon span.htipjf{background-color: #ff8400;
}
.g-live-box .tv-product .hyouhuiicon span.htipjfFont{color: #ff8400; 
    padding: 0 0 0 0; 
    margin: 0 0 0 5px; 
    position: relative; 
    top: 2px;
}
.g-live-box .tv-product .hyouhuiicon span.htipkrozy{background-color: #6088f2;
}
.g-live-box .tv-product .hyouhuiicon span.htipzeng{background-color: #8ed714;
}
.g-live-box .tv-product .hyouhuiicon span.htipquan{background-color: #00b8d2;
}

.hTvChangeBox{
    float: left; 
    display: inline; 
    margin-left: 5px; 
    margin-top: 4px; 
    z-index: 2; 
    position: relative;}
.hTvChangeBoxButton{
    width: 60px; 
    height: 40px; 
    cursor: pointer; 
    position: relative; 
    z-index: 1;
    text-align: center; 
    font-size: 12px; 
    line-height: 40px;}
.hTvChangeBox .hTvChangeBoxButton:last-child{
    position: relative; 
    z-index: 2;}
.hTvChangeBoxButton.hfroce{ 
    background: url("/common/webpc/image/imageindex/channelchange.png");}
.hxiaozhezhao{
    width: 50px;
    height: 10px; 
    overflow: hidden; 
    line-height: 0; 
    font-size: 0; 
    position: absolute; 
    top: 40px; right: 0; 
    display: none;}
.hxiaozhezhao.hxiaozhezhaoT{
    top: -10px; right: 0;
}
.hTvChangeBoxButton.hfroce .hxiaozhezhao{
    display: block;
}
.hTvChangeBoxButton.hfroce span{
    color: #d13142;
}
.hTvIntroBox{
    width: 260px; 
    height: auto; 
    margin-left: 113px; 
    padding-right: 18px;
}
.hTvLogoImg{
    position: relative;
}
.hTvPlayTime{
    position: absolute; top: 50%; right: 0; 
    margin-top: -8px;}
.hBuyMoney{ 
    width: 260px; 
    position: relative; 
    margin-top: 6px;
}
.hSysButton{
    padding: 3px 15px; 
    border: 1px solid #dbdbdb; 
    position: absolute; top: 0; left: 0; 
    background: #ffffff;
}
.hSysButton:hover{
    border: 1px solid #239CDC;
}
.hIndexvideoNavChangeBox{
    position: relative; 
    float: left; 
    display: inline;
}
.hIndexvideoBanner{
    width: auto; 
    height: auto; 
    font-size: 0; 
    overflow: hidden; 
    float: left; 
    display: inline; 
    border: 1px solid #dbdbdb;
    margin: 4px 0 0 5px;
}
.hIndexvideoBanner.hIndexvideoBannerLogo{
    border: none; 
    margin: 22px 0 0 4px; 
    font-size: 0; 
    width: 112px; 
    height: 48px;
}
.hIndexvideoBanner.hIndexvideoBannerLogo img{
    width: 100%; 
    height: auto;
}
/*轮播图*/
.slider {
    position: relative;
    height: 500px;
    min-width: 1190px;
    width: 100%;
    overflow: hidden;
  }
  .slider .slider-pointer {
    position: absolute;
    bottom: 20px;
    color: #fff;
    list-style: none;
    padding: 0;
    z-index: 999;
  }
  .slider .slider-pointer li {
    display: inline-block;
    margin: 0 15px;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: #ffffff;
    opacity: 0.85;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.5);
    transition: all 320ms ease;
  }
  .slider .slider-pointer li:hover {
    background-color: #e30006;
  }
  .slider .slider-pointer li.active {
    background-color: #b00005;
  }
  .slider .slider-inner {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .slider .slider-inner .item {
    width: 100%;
    height: 100%;
    float: left;
  }
  .slider .slider-inner .img {
    background-position: center top !important;
    width: 100%;
    height: 100%;
  }
  .slider .slider-control {
    position: absolute;
    width: 30px;
    height: 30px;
    z-index: 999;
    border-radius: 30px;
    text-align: center;
    font-weight: 900;
    font-size: 20px;
    line-height: 30px;
    background-color: #ffffff;
    opacity: 0.5;
    cursor: pointer;
    top: 40%;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.5);
    transition: all 320ms ease;
  }
  .slider .slider-control:hover {
    opacity: 0.65;
    background-color: #b00005;
  }
  .slider .slider-control:active {
    opacity: 0.85;
  }
  .slider .slider-control.prev {
    display: none;
    left: 27%;
  }
  .slider .slider-control.next {
    display: none;
    right: 20%;
  }
  .slider:hover .slider-control.prev {
    display: block;
  }
  .slider:hover .slider-control.next {
    display: block;
  }
/*主播推荐*/
#anchor{
    height: 731px;
    width: 100%;
    background:#F6F6F7;
}
.anchor{
    width: 1190px;
    height: 731px;
}
.anchor h2{
    width: 1190px;
    height: 64px;
    line-height: 64px;
    font-size: 24px;
    padding-left: 13px;
}
.anchor h2 span{
    font-size: 16px;
    line-height: 64px;
    padding-left: 30px;
}
.anchor h2 span a{
    color:black;
}
/*主播推荐-商品区*/
.anchor .anchor-l{
    width: 421px;
    height: 661px;
    background:#fff;
}
.anchor .anchor-l .anchor-l-img{
    width: 420px;
    height: 528px;
    border-bottom: 1px dashed #ccc;
}
.anchor .anchor-l .anchor-l-img img{
    width: 420px;
    height: 455px;
}
.anchor .anchor-r{
    width: 769px;
    height: 667px;
}
.anchor .anchor-l .anchor-l-img b a{
    font-size: 14px;
    color:black;
    padding-left: 12px;
}
.anchor .anchor-l .anchor-l-img p{
    color:red;
    padding-left: 12px;
} 
.anchor .anchor-l .anchor-l-img span{
    color:red;
}
.anchor .anchor-l h3{
    font-size: 13px;
    color:black;
    font-weight:800;
    width: 420px;
    height: 49px;
    line-height: 49px;
    padding-left:16px;
}
.anchor .anchor-l .anchor-l-p{
    width: 388px;
    height: 68px;
    margin-left: 16px;
    font-size: 12px;
    border:1px solid #ccc;
    padding-left: 20px;
    padding-top: 15px;
    padding-right: 20px;
    line-height: 18px;
    background:#F7F7F7;
}
.anchor .anchor-r {
    width: 749px;
    height: 667px;
    margin-left: 20px;
}
.anchor .anchor-r .anchor-r-ul li{
    width: 238px;
    height: 323px;
    float:left;
    background:#fff;
}
.anchor .anchor-r .anchor-r-ul li img{
    width: 207px;
    height: 240px;
}
.anchor .anchor-r .anchor-r-ul .anchor-r-li0{
    margin-right: 17px;
    margin-bottom: 20px;
}
.anchor .anchor-r .anchor-r-ul .anchor-r-li1{
    margin-right: 17px;
    margin-bottom: 20px;
}
.anchor .anchor-r .anchor-r-ul .anchor-r-li2{
    margin-bottom: 20px;
}
.anchor .anchor-r .anchor-r-ul .anchor-r-li3{
    margin-right: 17px;
}
.anchor .anchor-r .anchor-r-ul .anchor-r-li4{
    margin-right: 17px;
}
.anchor .anchor-r .anchor-r-ul li a{
    display:block;
    padding-left: 11px;
    color:black;
    padding-right: 20px;
    line-height: 18px;
}
.anchor .anchor-r .anchor-r-ul li p{
    padding-left:11px;
    color:red;
}
.anchor .anchor-r .anchor-r-ul li span{
    color:red;
    line-height: 70px;
}
.anchor .anchor-r .anchor-r-ul .anchor-r-li4 span{
    line-height: 35px;
}