.pv_passport_login {
  WIDTH: 100%; PADDING-BOTTOM: 100px
}
.pv_passport_login_box {
  WIDTH: 100%;
}
.pv_passport_login_box_form {
  WIDTH: 910px; MARGIN: 0 auto; BORDER: #f2f2f2 4px solid
}
.pv_passport_login_box_form DIV.container {
  WIDTH: 908px; POSITION: relative; BORDER: #d7d7d7 1px solid;
}
.pv_passport_login_box_form DIV.container DIV.left_box {
  WIDTH: 480px; PADDING: 40px 0px 40px 20px; FLOAT: left; DISPLAY: inline;
}
.pv_passport_login_box_form DIV.container DIV.left_box_content {
  WIDTH: 450px; POSITION: relative
}
.pv_passport_login_box_form DIV.container DIV.left_box_content_pagi {
  POSITION: absolute; TOP: 10px; RIGHT: 10px; Z-INDEX: 1000
}
.pv_passport_login_box_form DIV.container DIV.left_box_content_box {
  WIDTH: 450px; HEIGHT: 300px; OVERFLOW: hidden; POSITION: relative
}
.pv_passport_login_box_form DIV.container DIV.right_box {
  WIDTH: 408px; PADDING-TOP: 20px; FLOAT: right; DISPLAY: inline;
}
.pv_passport_login_box_form DIV.container DIV.right_box_content {
  WIDTH: 100%; POSITION: relative
}
.pv_passport_login_box_form DIV.container DIV.right_box_content DIV.form DIV.item {
  PADDING-BOTTOM: 12px
}
.pv_passport_login_box_form DIV.container DIV.right_box_content DIV.form DIV.item SPAN.label {
  DISPLAY: block; COLOR: #9d9c9a; HEIGHT: 20px; LINE-HEIGHT: 20px
}
.pv_passport_login_box_form DIV.container DIV.right_box_content DIV.form DIV.item SPAN.label SPAN.tips {
  MARGIN-LEFT: 10px; COLOR: #c31b2c
}
.pv_passport_login_box_form DIV.container DIV.right_box_content DIV.form DIV.item SPAN.label SPAN.tips_ok {
  DISPLAY: inline-block; ZOOM: 1; WIDTH: 14px; HEIGHT: 13px; MARGIN-LEFT: 10px; BACKGROUND: url(../../images/passport/bg.icon.ok.1.gif)
}
.pv_passport_login_box_form DIV.container DIV.right_box_content DIV.form DIV.item INPUT.username {
  WIDTH: 290px; HEIGHT: 16px; LINE-HEIGHT: 16px; PADDING: 10px 29px 10px 9px; BORDER: #d7d7d7 1px solid; BACKGROUND: url(../../images/passport/bg.input.1.1.gif) #fff right center no-repeat
}
.pv_passport_login_box_form DIV.container DIV.right_box_content DIV.form DIV.item INPUT.password {
  WIDTH: 290px; HEIGHT: 16px; LINE-HEIGHT: 16px; PADDING: 10px 29px 10px 9px; BORDER: #d7d7d7 1px solid; BACKGROUND: url(../../images/passport/bg.input.1.2.gif) #fff right center no-repeat
}
.pv_passport_login_box_form DIV.container DIV.right_box_content DIV.form DIV.item INPUT.valcode {
  WIDTH: 160px; HEIGHT: 16px; LINE-HEIGHT: 16px; PADDING: 10px 9px 10px 9px; BORDER: #d7d7d7 1px solid; BACKGROUND: #fff
}
.pv_passport_login_box_form DIV.container DIV.right_box_content DIV.form DIV.item SPAN.valcode {
  PADDING: 0px 10px 0px 10px
}
.pv_passport_login_box_form DIV.container DIV.right_box_content DIV.form DIV.item SPAN.valcode_refresh {
  DISPLAY: inline-block; ZOOM: 1; HEIGHT: 38px; LINE-HEIGHT: 19px; VERTICAL-ALIGN: middle; CURSOR: pointer
}
.pv_passport_login_box_form DIV.container DIV.right_box_content DIV.others {
  PADDING-TOP: 15px
}
.pv_passport_login_box_form DIV.container DIV.right_box_content DIV.others P {
  MARGIN: 0px; PADDING: 10px 0px 0px 0px
}
.pv_passport_login_box_form DIV.container DIV.right_box_content DIV.others P SPAN {
  PADDING-RIGHT: 30px
}
.pv_passport_login_box_form DIV.container DIV.right_box_content DIV.others P A {
  COLOR: #1a83ba; TEXT-DECORATION: none
}
.pv_passport_login_box_form DIV.container DIV.right_box_content DIV.others P A:hover {
  COLOR: #1a83ba; TEXT-DECORATION: underline
}
.pv_passport_login_box_form DIV.container DIV.regist {
  POSITION: absolute; BOTTOM: -36px; RIGHT: 72px; Z-INDEX: 1000
}
.pv_passport_login_box_form DIV.container DIV.regist A {
  DISPLAY: block; WIDTH: 130px; HEIGHT: 30px; LINE-HEIGHT: 30px; TEXT-ALIGN: center; FONT-SIZE: 14px; BACKGROUND: #219ddf; COLOR: #fff; BORDER-LEFT: #f2f2f2 5px solid; BORDER-RIGHT: #f2f2f2 5px solid; BORDER-BOTTOM: #f2f2f2 5px solid
}
.pv_passport_login_box_form DIV.container DIV.regist A:hover {
  BACKGROUND: #e23042; TEXT-DECORATION: none
}
.pv_passport_login-popup {
  WIDTH: 390px; MARGIN: auto; POSITION: relative
}
.pv_passport_login-popup SPAN.close {
  DISPLAY: block; WIDTH: 15px; HEIGHT: 15px; BACKGROUND: url(../../images/bg.close.1.gif); POSITION: absolute; TOP: 10px; RIGHT: 10px; CURSOR: pointer
}
.pv_passport_login-popup H1 {
  MARGIN: 0px; PADDING: 10px 20px; LINE-HEIGHT: 100%; FONT-SIZE: 14px; FONT-WEIGHT: bold; COLOR: #505966
}
.pv_passport_login-popup DIV.tab {
  WIDTH: 358px; MARGIN: auto auto 10px auto; BORDER-BOTTOM: #d7d7d7 1px solid; POSITION: relative
}
.pv_passport_login-popup DIV.tab UL {
  ZOOM: 1
}
.pv_passport_login-popup DIV.tab UL LI {
  FLOAT: left; DISPLAY: inline
}
.pv_passport_login-popup DIV.tab UL LI SPAN {
  FLOAT: left; DISPLAY: inline; WIDTH: 110px; MARGIN-RIGHT: 5px; PADDING: 5px 30px 6px 30px; TEXT-ALIGN: center; FONT-SIZE: 14px; MARGIN-BOTTOM: -1px; BACKGROUND: #f1f1f1; COLOR: #555; HEIGHT: 20px; LINE-HEIGHT: 20px; BORDER: #d7d7d7 1px solid; CURSOR: default
}
.pv_passport_login-popup DIV.tab UL LI SPAN.on {
  BACKGROUND: #fff; BORDER: #d7d7d7 1px solid; BORDER-BOTTOM: #fff 1px solid
}
.pv_passport_login-popup_box {
  WIDTH: 330px; MARGIN: auto; DISPLAY: none
}
.pv_passport_login-popup_box DIV.form DIV.item {
  PADDING-BOTTOM: 12px
}
.pv_passport_login-popup_box DIV.form DIV.item SPAN.label {
  DISPLAY: block; COLOR: #9d9c9a; HEIGHT: 20px; LINE-HEIGHT: 20px
}
.pv_passport_login-popup_box DIV.form DIV.item SPAN.label SPAN.tips {
  MARGIN-LEFT: 10px; COLOR: #c31b2c
}
.pv_passport_login-popup_box DIV.form DIV.item SPAN.label SPAN.tips_ok {
  DISPLAY: inline-block; ZOOM: 1; WIDTH: 14px; HEIGHT: 13px; MARGIN-LEFT: 10px; BACKGROUND: url(../../images/passport/bg.icon.ok.1.gif)
}
.pv_passport_login-popup_box DIV.form DIV.item INPUT.username {
  WIDTH: 290px; HEIGHT: 16px; LINE-HEIGHT: 16px; PADDING: 10px 29px 10px 9px; BORDER: #d7d7d7 1px solid; BACKGROUND: url(../../images/passport/bg.input.1.1.gif) #fff right center no-repeat
}
.pv_passport_login-popup_box DIV.form DIV.item INPUT.password {
  WIDTH: 290px; HEIGHT: 16px; LINE-HEIGHT: 16px; PADDING: 10px 29px 10px 9px; BORDER: #d7d7d7 1px solid; BACKGROUND: url(../../images/passport/bg.input.1.2.gif) #fff right center no-repeat
}
.pv_passport_login-popup_box DIV.form DIV.item INPUT.valcode {
  WIDTH: 160px; HEIGHT: 16px; LINE-HEIGHT: 16px; PADDING: 10px 9px 10px 9px; BORDER: #d7d7d7 1px solid; BACKGROUND: #fff
}
.pv_passport_login-popup_box DIV.form DIV.item SPAN.valcode {
  PADDING: 0px 10px 0px 10px
}
.pv_passport_login-popup_box DIV.form DIV.item SPAN.valcode_refresh {
  DISPLAY: inline-block; ZOOM: 1; HEIGHT: 38px; LINE-HEIGHT: 19px; VERTICAL-ALIGN: middle; CURSOR: pointer
}
.pv_passport_login-popup_box DIV.others {
  PADDING-TOP: 15px
}
.pv_passport_login-popup_box DIV.others P {
  MARGIN: 0px; PADDING: 10px 0px 0px 0px
}
.pv_passport_login-popup_box DIV.others P SPAN {
  PADDING-RIGHT: 30px
}
.pv_passport_login-popup_box DIV.others P A {
	COLOR: #1a83ba; TEXT-DECORATION: none
}
.pv_passport_login-popup_box DIV.others P A:hover {
	COLOR: #1a83ba; TEXT-DECORATION: underline
}
.pv_passport_login-popup_box DIV.link {
  WIDTH: 330px; MARGIN: auto; PADDING-TOP: 15px
}
.pv_passport_login-popup_box DIV.link UL LI {
  TEXT-ALIGN: center
}
.pv_passport_login-popup_box DIV.link UL LI.one {
  PADDING-BOTTOM: 20px; BORDER-BOTTOM: #d1d1d1 1px dotted
}
.pv_passport_login-popup_box DIV.link UL LI.two {
  PADDING-TOP: 20px
}
.return_top{
  DISPLAY: none  
}

/* Tristan updates 20140305 start */
.loginnew_box{width:870px;margin-left:95px;padding:50px 0 70px 0;}
.loginnew_box .lcol{_display:inline;float:left;width:450px;}
.loginnew_box .lcol .slideshow{margin-top:28px;}
.loginnew_box #loginnew_pager{text-align:center;padding-top:10px;}
.loginnew_box #loginnew_pager a{display:inline-block;width:14px;height:14px;background:url(../../images/passport/newlogin.icon1.png) no-repeat;margin:0 2px;}
.loginnew_box #loginnew_pager a.activeSlide{background:url(../../images/passport/newlogin.icon2.png) no-repeat;}
.loginnew_box .rcol{_display:inline;float:left;width:360px;margin-left:60px;}
.loginnew_box .rcol .form_wrap{border:5px solid #f7f7f7;}
.loginnew_box .rcol .form_wrap .form{border:1px solid #e7e7e7;height:353px;padding-left:39px;padding-top:15px;}
.loginnew_box .rcol .form_wrap .form .item{margin-bottom:14px;}
.loginnew_box .rcol .form_wrap .form .item .label{width:270px;padding-bottom:4px;}
.loginnew_box .rcol .form_wrap .form .item .label .title{_display:inline;float:left;color:#474747;font-size:13px;font-weight:bold;font-family:"Microsoft Yahei",Arial, Helvetica, sans-serif;}
.loginnew_box .rcol .form_wrap .form .item .label .tips{_display:inline;float:left;margin-left:2px;color:#de2b3d;font-size:12px;font-family:"Microsoft Yahei",Arial, Helvetica, sans-serif;}
.loginnew_box .rcol .form_wrap .form .item .label .faq{_display:inline;float:right;color:#505966;font-size:12px;margin-top:2px;}
.loginnew_box .rcol .form_wrap .form .item .field{position:relative;}
.loginnew_box .rcol .form_wrap .form .item .field .input_control{position:absolute;left:180px;top:13px;height:9px;background:url(../../images/passport/newlogin.cross1.gif) no-repeat;width: 100px;}
.loginnew_box .rcol .form_wrap .form .item .field .input_control_error{display:none;position:absolute;left:250px;top:13px;width:9px;height:9px;background:url(../../images/passport/newlogin.cross2.gif) no-repeat;}
.loginnew_box .rcol .form_wrap .form .item .field .input_control_show{display:block;}
.loginnew_box .rcol .form_wrap .form .item .field .hock{color:#333333;font-size:16px;height:20px;line-height:20px;width:203px;padding:6px 30px 7px 35px;border:1px solid #c9c8cf;}

.loginnew_box .rcol .form_wrap .form .item .field input.username{color:#bcbcbc;background:url(../../images/passport/newlogin.inputbg1.jpg) no-repeat;overflow:hidden;}
.loginnew_box .rcol .form_wrap .form .item .field input.password{background:url(../../images/passport/newlogin.inputbg2.jpg) no-repeat;color:#333333;}
.loginnew_box .rcol .form_wrap .form .item .field input.valcode{width:78px;padding-left:10px;padding-right:20px;}
.loginnew_box .rcol .form_wrap .form .item .field3 .input_control{left:90px;}
.loginnew_box .rcol .form_wrap .form .item .field3 .input_control_error{left:90px;}
.loginnew_box .rcol .form_wrap .form .item .field .valcode_refresh{display: inline-block;zoom: 1;height: 32px;vertical-align: middle;cursor: pointer;	margin-top:-4px;line-height: 32px;background:#ccc;
  width:50px;text-align: center;}
.loginnew_box .rcol .form_wrap .form .item .field span.valcode{/*padding:0 5px;*/}

.loginnew_box .rcol .form_wrap .form .item .field input.focus{color:#333333;}
.loginnew_box .rcol .form_wrap .form .item .field input.blue{border-color:#239cdc;box-shadow:0px 0px 6px #A6E0FF;}
.loginnew_box .rcol .form_wrap .form .item .field input.error{border-color:#de2b3d;box-shadow:0px 0px 6px #ff97a1;}
.loginnew_box .rcol .form_wrap .form .submit{margin-bottom:15px;}
.loginnew_box .rcol .form_wrap .form .field_remember{width:270px;}
.loginnew_box .rcol .form_wrap .form .register{position:absolute;right:0;top:-2px;+top:0;color:#0080c6;font-weight:bold;font-size:14px;font-family:"Microsoft Yahei",Arial, Helvetica, sans-serif;}
.loginnew_box .rcol .form_wrap .form .others{position:relative;width:270px;color:#a4a4a4;margin-top:12px;}
.loginnew_box .rcol .form_wrap .form .others span{display:block;padding-top:4px;}
.loginnew_box .rcol .form_wrap .form .others .others_link{position:absolute;right:3px;top:0;}
.loginnew_box .rcol .form_wrap .form .others .others_link a{margin-left:10px;}
.loginnew_box .rcol .form_wrap .form .line{margin:0;padding:0;font-size:0;}
/* Tristan updates 20140305 end */


.loginnew_output_box{position:fixed; left:50%; top:50%; background-color: #fff; z-index: 1000;}
#loginnew_output_box1{width:650px; height:310px; margin-left: -325px; margin-top: -155px; }
#loginnew_output_box1 .cont{width:642px; height: 302px; border: 4px solid #4c4c4c;}
#loginnew_output_box2{width:520px; height:240px; margin-left: -260px; margin-top: -120px; }
#loginnew_output_box2 .cont{width:512px; height: 232px; border: 4px solid #4c4c4c;}
#loginnew_output_box3{width:520px; height:240px; margin-left: -260px; margin-top: -120px; }
#loginnew_output_box3 .cont{width:512px; height: 232px; border: 4px solid #4c4c4c;}
.loginnew_output_overlay{filter: alpha(opacity=50); -moz-opacity:0.5; opacity: 0.5; background-color: #000000; display:none;height: 100%;left: 0;opacity: 0.5;position: fixed;top: 0;width: 100%;z-index: 999;}
.loginnew_output_box .close_btn {z-index: 2; display: block; width: 15px; height: 15px; background: url(../../images/etv/play-tips-close.jpg) no-repeat; position: absolute; right: 14px; top: 14px;}
.loginnew_choice{width: 550px; margin: 0 auto;}
.loginnew_output_box .ttl{font-size: 16px; color:#474747; border-bottom:1px dotted #808080; text-align: center; padding-top:14px; padding-bottom: 12px;}
#loginnew_output_box1 .txt1{font-family: "Arial", "Microsoft Yahei"; font-size: 14px; padding: 24px 0; margin: 0;}
.choice_item span{_display:inline; float:left; font-family: "Arial", "Microsoft Yahei"; font-size: 14px; margin-top: 40px; }
.choice_item a{_display:inline; float:left; margin-left:20px;}
.loginnew_mobile_validate{width:460px; margin: 0 auto; }
.loginnew_mobile_validate_item{padding:5px 0; padding-left: 25px; font-size: 14px; font-family: "Arial", "Microsoft Yahei"; height: 32px; line-height: 32px; }
#loginnew_output_box2 h2{margin-bottom: 15px;}
#containerContent{z-index:500;}
.loginnew_mobile_validate_item .input{height:30px; width: 98px; padding:0 5px; border: 1px solid #c4c3c9; margin-left: 10px; text-align: center;
  -moz-box-shadow:inset 1px 2px 2px #e5e5e5;
  -webkit-box-shadow:inset 1px 2px 2px #e5e5e5;
  box-shadow:inset 1px 2px 2px #e5e5e5;
}
.loginnew_mobile_validate_item .count{display: inline-block; width:90px; border: 1px solid #c4c3c9; height:28px; line-height: 28px; text-align: center; background-color: #f2f2f2; font-size: 14px; color:#73787f; margin-left: 10px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.loginnew_mobile_validate_item .chongfa{display: inline-block; width:90px; height:30px; line-height: 30px; text-align: center; background-color: #008edf; font-size: 14px; color:#fff; text-decoration: none; margin-left: 10px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.loginnew_output_box .confirm_btn{display: block; width:108px; height: 33px; line-height: 33px; text-align: center; border: 1px solid #c4c3c9; font-size: 14px; font-weight: bold; background-color: #f9f9f9; margin: 0 auto; margin-top: 25px;}
.loginnew_output_box .confirm_btn:hover{color:#000; text-decoration: none;}
.loginnew_email_validate_item{color:#474747; font-size: 14px; font-family: "Arial", "Microsoft Yahei"; padding-left: 40px; padding-top: 20px;}
.loginnew_email_validate_item p{margin:0; line-height: 2; }