@charset "utf-8";
/* CSS Document */
.regist_nv_box{width:1190px; margin:0 auto;}
.regist_nv_box .regist_nv_nav{background-color:#239cdc; height:70px; position:relative; }
.regist_nv_box .regist_nv_nav .logined{_display:inline; float:left; margin-left:190px; margin-top:30px; color:#ffffff; font-family:"Microsoft Yahei",Arial, Helvetica, sans-serif; font-size:14px;}
.regist_nv_box .regist_nv_nav .logined a{color:#002d45;}
.regist_nv_box .regist_nv_nav .regist_nv_nav_list{_display:inline; float:left; margin-left:57px; padding-top:10px;}
.regist_nv_box .regist_nv_nav .regist_nv_nav_list li{_display:inline; float:left; }
.regist_nv_box .regist_nv_nav .regist_nv_nav_list li a{display:block; width:204px; height:60px; line-height:60px; color:#676767; font-size:18px; text-align:center; color:#fff; font-family:"Microsoft Yahei",Arial, Helvetica, sans-serif; text-decoration:none; }
.regist_nv_box .regist_nv_nav .regist_nv_nav_list li a.cur{background-color:#f7f7f7; color:#676767;}
/*.regist_nv_box .regist_nv_cont{background:url(../../images/passport/regist_nv_line_bg.jpg) repeat-y center top;}
*/.regist_nv_box .regist_nv_cont .leftbar{_display:inline; float:left; width:862px;}
.regist_nv_box .regist_nv_cont .rightbar{_display:inline; float:right; width:328px;}
.regist_nv_box .regist_nv_cont .rightbar .qrcode_box{padding:20px 0 30px 0;}
.regist_nv_box .regist_nv_cont .rightbar .qrcode_box p.txt_info{text-align:center; color:#0e4971; font-size:14px; font-family:"Microsoft Yahei",Arial, Helvetica, sans-serif;margin:10px 0;}
.regist_nv_box .regist_nv_cont .rightbar .qrcode_box .port{text-align:center;}
.regist_nv_box .regist_nv_cont .rightbar .qrcode_box p.txt_info2{margin-bottom:35px;}
.regist_nv_cont .regist_item_box{padding-top:25px;}
.regist_nv_cont .regist_item_box .regist_item_hdr{position:relative; width:760px; margin:0 auto; border-bottom:1px dotted #666666; padding-bottom:12px;}
.regist_nv_cont .regist_item_box .regist_item_hdr h3{color:#3c3c3c; font-size:30px; font-family:"Microsoft Yahei",Arial, Helvetica, sans-serif; font-weight:normal; margin-left:215px; }
.regist_nv_cont .regist_item_box .regist_item_hdr h3 span{font-size:16px;}
.regist_nv_cont .regist_item_box .regist_item_hdr h3 img{vertical-align:-10px;}
.regist_nv_cont .regist_item_box .regist_item_hdr a{position:absolute; right:0; top:20px;}
/*.regist_nv_cont .regist_item_box .regist_item_hdr a.change1{padding-left:20px; background:url(../../images/passport/regist_ml_icon.jpg) no-repeat left 3px;}
.regist_nv_cont .regist_item_box .regist_item_hdr a.change2{padding-left:20px; background:url(../../images/passport/regist_mb_icon.png) no-repeat left 1px;}*/
.regist_nv_cont .regist_item_form{padding-left:125px; padding-top:60px;}
.regist_item_form .resist_item{padding:5px 0;}
.regist_item_form .resist_item .label{_display:inline; float:left; width:110px; padding-right:10px; height:35px; line-height:35px; text-align:right; color:#2f313a; font-size:14px; font-family:"Microsoft Yahei",Arial, Helvetica, sans-serif;}
.regist_item_form .resist_item .label em{display:inline-block; height:35px; line-height:35px; color:#239cdc; font-family:Arial, Helvetica, sans-serif; vertical-align:-4px;}
.regist_item_form .resist_item .field{_display:inline; float:left; position:relative;}
.regist_item_form .resist_item .field .hock{color: #333333; font-size: 16px; height: 20px; line-height: 20px; width: 258px; padding: 6px 30px 7px 10px; border: 1px solid #c9c8cf;}
.regist_item_form .resist_item .field .hock.blue{border-color:#239cdc;box-shadow:0px 0px 6px #A6E0FF;}
.regist_item_form .resist_item .field .hock.error{border-color: #de2b3d; box-shadow: 0px 0px 6px #ff97a1;}
/*.regist_item_form .resist_item .field .input_control{display:none; position: absolute; right:15px; top: 13px; width: 9px; height: 9px; background: url(../../images/passport/newlogin.cross1.gif) no-repeat;}*/
.regist_item_form .resist_item .field .input_control_error{display:none; position: absolute; right:15px; top: 13px; width: 9px; height: 9px; }
.regist_item_form .resist_item .field .input_control_show{display:block;}
.regist_item_form .resist_item .tips{FLOAT: left; DISPLAY: inline; MARGIN-LEFT: 10px; PADDING: 0px 5px 0px 5px; BACKGROUND: #f1f1f1; BORDER: #d7d7d7 1px solid; WIDTH: 170px; HEIGHT: 33px;}
.regist_item_form .resist_item .tips_e{FLOAT: left; DISPLAY: inline; MARGIN-LEFT: 10px; PADDING: 0px 5px 0px 5px; BACKGROUND: #fff4f5; BORDER: #f0b8be 1px solid; WIDTH: 170px; HEIGHT: 33px;}
.regist_item_form .resist_item .field_val .hock{width: 138px;}
.regist_item_form .resist_item .field_img_val .hock{width: 178px;}
.regist_item_form .resist_item .val_btn{_display:inline; float:left; width:110px; height:35px; line-height:35px; text-align:center; /*background:url(../../images/passport/regist_val_btn.jpg) no-repeat;*/ color:#353535; cursor:default; margin-left:10px;}
.regist_item_form .resist_item .val_un{_display:inline; float:left; width:110px; height:35px; line-height:35px; text-align:center; /*background:url(../../images/passport/regist_val_un_btn.jpg) no-repeat;*/ color:#fff; margin-left:10px; cursor:pointer; cursor:hand;}
.regist_item_form .resist_item .val_btn:hover{text-decoration:none;}
.regist_item_form .resist_item .field_lisense{margin-top:10px; font-size:13px;}
.regist_item_form .resist_item .field_lisense .lisense{color:#3333ff;}
.regist_item_form .submit{margin-left:120px; margin-top:6px;}
.regist_item_form .resist_item .val_img{_display:inline; float:left; margin-left:10px;}
.highlight{margin-left:120px;}
.highlight SPAN{DISPLAY: block;WIDTH: 248px;BACKGROUND: #f2ffea;BORDER: #90c472 1px solid;PADDING: 10px;LINE-HEIGHT: 150%;COLOR: #56575a;}
.highlight SPAN em{color:#85cc64;font-style:normal;font-weight:bold;}


.regist_nv_success_box{width:1190px; margin:0 auto;  zoom:1;}
.regist_nv_success_box .slide{position:relative; width:1190px; height:150px; overflow:hidden; margin-top:50px;}
.regist_nv_success_box .slide .next{position:absolute; right:0; top:50%; margin-top:-20px; z-index:10; color:#505966; text-decoration:none; cursor:pointer; cursor:hand;}
.regist_nv_success_box .slide .next span.bg{display:block; width:79px; height:38px; position:absolute; right:-41px; top:0; border:1px solid #abb1ba; border-right:1px solid #fff; background-color:#fff;}
.regist_nv_success_box .slide .next span.bg span.pg{display:none; position:absolute; top:12px; left:10px; font-family:Arial, Helvetica, sans-serif; font-size:13px;}
.regist_nv_success_box .slide .next span.bg span.pg em{font-style:normal;}
.regist_nv_success_box .slide .next span.icon{position:absolute; right:10px; top:10px; z-index:10; width:13px; height:21px; /*background:url(../../images/passport/regist-success-arr-right.jpg) no-repeat;*/ }
.regist_nv_success_box .slide .next span.icon.on{background-position:0 -21px;}
.regist_nv_success_box .slide .prev{position:absolute; left:0; top:50%; margin-top:-20px;  z-index:10; color:#505966; text-decoration:none; cursor:pointer; cursor:hand;}
.regist_nv_success_box .slide .prev span.bg{display:block; width:79px; height:38px; position:absolute; left:-41px; top:0; border:1px solid #abb1ba; border-left:1px solid #fff; background-color:#fff;}
.regist_nv_success_box .slide .prev span.bg span.pg{display:none; position:absolute; top:12px; right:10px; font-family:Arial, Helvetica, sans-serif; font-size:13px;}
.regist_nv_success_box .slide .prev span.bg span.pg em{font-style:normal;}
.regist_nv_success_box .slide .prev span.icon{position:absolute; left:10px; top:10px; z-index:10; width:13px; height:21px; /*background:url(../../images/passport/regist-success-arr-left.jpg) no-repeat;*/}
.regist_nv_success_box .slide .prev span.icon.on{background-position:0 -21px;}
.regist_nv_success_box .slide .next:hover{color:#505966;}
.regist_nv_success_box .slide .prev:hover{color:#505966;}
.regist_nv_success_box .slide .next:hover .bg{border-color:#505966; border-right-color:#fff; }
.regist_nv_success_box .slide .prev:hover .bg{border-color:#505966; border-left-color:#fff;}
.regist_nv_success_box .slide .slide_inner{position:relative;}
.regist_nv_success_box .slide .slide_inner ul li{_display:inline; float:left;}

/* 弹框相关开始 */
.regist_tips_overlay{filter: alpha(opacity=50);-moz-opacity:0.5;opacity: 0.5; background-color: #000000;display:none;height: 100%;left: 0;opacity: 0.5;position: fixed;top: 0;width: 100%;z-index: 999;}
.regist_output{position:fixed;left:50%;top:50%;/*margin-left:-20000px;*/margin-top:-119px; width:400px; height:198px;background-color:#fff;z-index:1000;}
.regist_output .cont{position:relative;border:4px solid #4c4c4c;width:392px;height:190px;}
.regist_output .close_btn{z-index:2;display:block;width:15px;height:15px;/*background:url(../../images/etv/include.jpg) no-repeat;*/position:absolute;right:14px;top:14px;margin}
.regist_output .regist_output_btn{display:block; width:100px; height:30px; line-height:31px; margin:0 auto; margin-top:15px; text-align:center; /*background:url(../../images/passport/regist_output_btn.jpg) no-repeat;*/ color:#505966; text-decoration:none; font-weight:bold; }
.regist_output .regist_output_btn1{display:block; width:100px; height:30px; line-height:31px; margin:0 auto; margin-top:15px; text-align:center; /*background:url(../../images/passport/regist_output_btn.jpg) no-repeat;*/ color:#505966; text-decoration:none; font-weight:bold; }
#regist_output1{margin-left:-200px;}
#regist_output1 .regist_item_form{padding-top:60px;}
#regist_output1 .resist_item .label{width:95px;}
#regist_output1 .resist_item .field{position:relative; _display:inline; float:left;}
#regist_output1 .resist_item .field .hock{width: 135px;}
#regist_output1 .tips_e{margin:0; padding:0; color:#f00; margin-left:105px;}
#regist_output6{margin-left:-200px;}
#regist_output6 .regist_item_form{padding-top:60px;}
#regist_output6 .resist_item .label{width:95px;}
#regist_output6 .resist_item .field{position:relative; _display:inline; float:left;}
#regist_output6 .resist_item .field .hock{width: 135px;}
#regist_output6 .tips_e{margin:0; padding:0; color:#f00; margin-left:105px;}
#regist_output2{margin-left:-200px;}
#regist_output2 .txt_tips{font-size:15px; color:#7d8289; text-align:center; font-weight:bold; margin:0; padding:0; padding-top:65px; margin-bottom:25px; }
#regist_output3{margin-left:-200px; margin-top:-160px;}
#regist_output3{height:305px;}
#regist_output3 .cont{height:297px;}
#regist_output3 .cont h3{color:#5c5f66; font-size:15px; font-weight:bold; margin-bottom:15px; padding-left:18px; padding-top:10px;}
#regist_output3 .content{margin:0 10px 0 20px; height:240px; overflow-y:scroll;}
#regist_output3 .content p{margin:0; margin-bottom:10px;}
#regist_output4{margin-left:-200px; height:298px;  margin-top:-160px;}
#regist_output4 .cont{height:290px;}
#regist_output4 .regist_item_form{/*padding-top:60px;*/}
#regist_output4 .resist_item .label{width:95px;}
#regist_output4 .resist_item .field{position:relative; _display:inline; float:left;}
#regist_output4 .resist_item .field .hock{width: 135px;}
#regist_output4 .error_info{margin:0; padding:0; color:#f00; margin-left:105px;}
#regist_output4 h3{margin-left:20px; margin-bottom:15px; padding-top:10px; font-size:15px; color:#5c5f66; font-weight:bold;}
#regist_output4 .user_num_box{width:325px; padding:10px;  margin:0 auto; margin-bottom:15px; border:1px solid #ffc77f; background-color:#fff8af;}
#regist_output4 .user_num_box .txt{margin:0; padding:0; line-height:1.5; }
#regist_output4 .user_num_box .txt span{color:#b74a00; font-weight:bold;}
#regist_output4 .user_num_box .label{width:auto;}
#regist_output4 .user_num_box .resist_item .field .hock{width:195px;}

#regist_output5{margin-left:-200px; height:238px;  margin-top:-160px;}
#regist_output5 .cont{height:230px;}
#regist_output5 .regist_item_form{/*padding-top:60px;*/}
#regist_output5 .resist_item .label{width:95px;}
#regist_output5 .resist_item .field{position:relative; _display:inline; float:left;}
#regist_output5 .resist_item .field .hock{width: 222px;}
#regist_output5 .error_info{margin:0; padding:0; color:#f00; margin-left:105px;}
#regist_output5 .text_info{margin:0; padding:0; color:#949494; margin-left:105px; height:18px; line-height:18px;}
#regist_output5 h3{margin-left:20px; margin-bottom:15px; padding-top:10px; font-size:15px; color:#5c5f66; font-weight:bold;}
#regist_output5 .user_num_box{width:325px; padding:10px;  margin:0 auto; margin-bottom:15px; border:1px solid #ffc77f; background-color:#fff8af;}
#regist_output5 .user_num_box .txt{margin:0; padding:0; line-height:1.5; }
#regist_output5 .user_num_box .txt span{color:#b74a00; font-weight:bold;}
#regist_output5 .user_num_box .label{width:auto;}
#regist_output5 .user_num_box .resist_item .field .hock{width:195px;}
/* 弹框相关结束 */

/* 注册成功 开始 */
.regist_nv_success_box .func{margin-top:10px; border-top:1px solid #afafaf; padding-top:20px;}
.regist_nv_success_box .func .func_list li{_display:inline; float:left; width:390px; margin-left:10px;}
.regist_nv_success_box .func .func_list li.first{margin-left:0; }
.regist_nv_success_box .func .func_list li a{display:block; padding:10px 70px;}
.regist_nv_success_box .func .func_list li a:hover{text-decoration:none;}
.regist_nv_success_box .func .func_list li a:hover p{text-decoration:underline;}
.regist_nv_success_box .func .func_list li a .img{_display:inline; float:left;}
.regist_nv_success_box .func .func_list li a .txt{margin-left:95px;}
.regist_nv_success_box .func .func_list li a .txt h4{margin-top:15px; color:#239cdc; font-size:17px; font-weight:normal; font-family:"Microsoft Yahei",Arial, Helvetica, sans-serif;}
.regist_nv_success_box .func .func_list li a .txt p{font-size:12px; color:#433c39; font-family:"Microsoft Yahei",Arial, Helvetica, sans-serif; margin-top:10px;}
.regist_nv_success_box .func .func_list li a .txt p .strong{color:#239cdc;}
.regist_nv_success_box .result{margin-left:305px; padding:70px 0;}
.regist_nv_success_box .result .strong{color:#239cdc;}
.regist_nv_success_box .result .congra{color:#575757; font-size:29px; font-family:"Microsoft Yahei",Arial, Helvetica, sans-serif; }
.regist_nv_success_box .result .congra .icon{display:inline-block; margin-right:20px;}
.regist_nv_success_box .result .info{margin-top:20px; /*margin-left:15px;*/ line-height:1.6; color:#575757; font-size:16px; font-family:"Microsoft Yahei",Arial, Helvetica, sans-serif; }
.regist_nv_success_box .result .info .strong{display:inline-block; margin:0 8px; text-decoration:underline;}
.regist_nv_success_box .result .tip_list{margin-top:20px; margin-left:125px;}
.regist_nv_success_box .result .tip_list li{color:#575757; font-size:13px; font-family:"Microsoft Yahei",Arial, Helvetica, sans-serif; line-height:2; }
.regist_nv_success_box .result .tip_list li span.dot{font-size:12px;}
.regist_nv_success_box .result .submit{margin-left:87px; margin-top:50px;}
.regist_nv_success_box .result .submit a{display:inline-block; width:148px; height:48px; line-height:48px; border:1px solid #1a92d2; background-color:#1ea0e5; color:#fff; text-align:center; font-size:14px; font-family:"Microsoft Yahei",Arial, Helvetica, sans-serif; font-weight:bold; margin:0 20px; -moz-box-shadow:inset 0px -2px 2px rgba(0,0,0,0.1); -webkit-box-shadow:inset 0px -2px 2px rgba(0,0,0,0.1); box-shadow:inset 0px -2px 2px rgba(0,0,0,0.1); }
.regist_nv_success_box .result .submit a:hover{text-decoration:none;}
.regist_line{border-top:3px solid #239cdc;}
/* 注册成功 结束 */

.recommend_input_box{width:325px; margin-left:125px; margin-top: 20px; margin-bottom: 5px;}
.recommend_input_box .input_area{_display:inline; float:left;}
.recommend_input_box .input_text{_display:inline; float:left; WIDTH: 230px; HEIGHT: 16px; LINE-HEIGHT: 16px; PADDING: 10px 29px 10px 9px; BORDER: #d7d7d7 1px solid;}
.recommend_input_box .submit_btn{_display:inline; float:left; height:36px; line-height: 36px; width:50px; text-align: center; font-size: 14px; background-color: #48c3ff; border:1px solid #1ab3fd; vertical-align: -2px; color:#fff; }
.recommend_input_box .submit_btn:hover{text-decoration: none;}
.recomment_tips{width:325px; margin-left: 125px;}
.recomment_tips p{margin:0; line-height: 1.6;}
.recomment_tips .p2{color:#f00;}

