@charset "utf-8";
.g-header-menu {
    height:34px;
    width:100%;
    position:relative;
    z-index:99999;
    background:#f12e24;
    overflow:visible;
    /*background: -webkit-gradient(linear,center top,center bottom,from(#01a4fa),to(#239cdc));
    background:-moz-linear-gradient(center top -90deg,#01a4fa,#239cdc);*/
}
.g-header-menu a.g-header-tab.cur {
    background:#b8362f;
}
.g-header-menu a.g-header-tab:hover {
    background:#b8362f; text-decoration:none
}
.g-header-menu a.g-all.cur {
    width:219px; background:#fff; color:#05a3f6; border-top:1px solid #239CDC; height:33px; padding:0; border-left:1px solid #fff
}

.g-search-box .search-bar button {
    float:left; background:#f12e24; width:77px; height:34px; border:0; color:#fff; font-size:16px; line-height:32px; font-weight:bold; text-align:center; font-family: 'Microsoft YaHei'; cursor:pointer
}
.g-search-box .search-bar .relation-search {
    position:absolute; top:37px; left:-3px; width:448px; border:1px solid #f12e24; height:338px; background:#fff; overflow:hidden; display:none
}
.g-search-box .search-bar {
    width:444px; height:34px; border:3px solid #f12e24; position:relative; z-index:100000;
}
.indexTvrebosliderBoxFloatItem:hover{border: 1px solid #f12e24;}
.hindexProjectListBoxrightItemList:hover{
    -webkit-box-shadow: 0 0 0px 1px #f12e24;
    -moz-box-shadow: 0 0 0px 1px #f12e24;
    box-shadow: 0 0 0px 1px #f12e24;}
.hyouwilllikeItems:hover{border: 1px solid #f12e24;}
.hindexhuiyuanConentShowNavtabShowContentItem:hover{
    -webkit-box-shadow: 0 0 0px 1px #f12e24;
    -moz-box-shadow: 0 0 0px 1px #f12e24;
    box-shadow: 0 0 0px 1px #f12e24;}

.hindexhuiyuanConentShowNavtabShowContentItem2:hover{
    -webkit-box-shadow: 0 0 0px 1px #f12e24;
    -moz-box-shadow: 0 0 0px 1px #f12e24;
    box-shadow: 0 0 0px 1px #f12e24;}

.slick-dots li.slick-active button:before
{
    opacity: 1;
    color: black;
    /*background-color: #239CDC;*/
    /*background-image: url("/common/webpc/image/common/qf.png");*/
}
.g-header-menu a.g-header-tab span {
    position: absolute; display:block; width:20px; height:20px; line-height:20px; top: 1px; right: 0; font-size: 12px;
    background-image: url("/common/webpc/image/common/iconbgwrite.png"); background-size: 100% 100%; overflow: hidden;
    color: #fe434c; text-align:center}
.g-header-banner {
    overflow: hidden;
    width: 100%;
    background: url("/common/webpc/image/imageindex/bg.container.jpg") center top repeat-y; height:80px; text-align:center; position:relative
}
.indexTvreboLeftConentSmallItemjiaobiao{background-image: url("/common/webpc/image/imageindex/sanjiaotip.png");
    background-repeat: no-repeat; background-size: 100% 100%;
    width: 19px; height: 21px; position: absolute; top: 0; left: 182px; font-size: 11px; color: #fffefe;
    line-height: 14px; text-align: right; padding-right: 2px;}
.indexTvreboLeftConentSmallItem.froce{width: 203px; border-color: #f12e24;}

.slicknumsbuttonL span{color: #f12e24;}
.slicknumsbuttonR span{color: #f12e24;}
.slick-prev:hover .hJiantouImgL{background-image: url("/common/webpc/image/imageindex/leftjiantouf.png");}
.slick-next:hover .hJiantouImgR{background-image: url("/common/webpc/image/imageindex/rightjiantouf.png");}
.hindexLastBottomBanner{background-color: #fc9898;}
/*----*/
